.container-fluid {
    background-image: url('img/fondo.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    opacity: .95;
}

.nav {
    background-color: black !important;
}

.nav-link,
.link {
    color: #FB9C02;
    margin: auto;
}

.nav-link:hover,
.link:hover {
    opacity: 3%;
    color: white;
}

.nav-link:active,
.link:active {
    opacity: 3%;
    color: white;
    border-bottom: white;
}

.search {
    background-color: black;
    color: #FB9C02;
    border: .6px solid #FB9C02;
}

.search:focus {
    background-color: black;
    color: rgb(134, 108, 65);
    border: .5px solid #FB9C02
}

h1 {
    margin-top: 8%;
    color: rgb(134, 108, 65);
}

.card,
.tarjeta {
    background-color: black;
    border: solid 1px white;
    color: rgb(134, 108, 65);
}

.card-text {
    font-size: .8em;
}

.target,
.drop {
    background-color: black !important;
    color: #FB9C02 !important;
}

.dropdown-toggle::after {
    color: #FB9C02 !important;
}

.my-modal {
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1em;
    border: 1px solid rgb(134, 108, 65);
}

.float-left {
    display: inline-block;
}

li {
    list-style: none;
    text-shadow: 1px .3px black
}

.card-footer {
    background-color: black;
    border: 1px solid rgb(134, 108, 65);
}

.card-header {
    color: #FB9C02 !important;
    border: 1px solid rgb(134, 108, 65);
    opacity: .8;
}

.card-body {
    color: #FB9C02;
    opacity: .9;

}

.select{
    display:none;
}

.dropdown-menu, .dropdown-item{
    background-color: black;
    color: #FB9C02;

}



@media only screen and (max-width: 1000px) {
    .footer-card {
        display: none;
    }
    .select{
        display: block;
    }
}

a:hover, img:hover{
    cursor: pointer;
}